.Sidenav {
  width: 15%;
  background-color: #2C2C2C;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 2;
  height: 100vh;
  overflow: hidden;
}

.Sidenav-icon img {
  width: 100%;
  object-fit: cover;
  padding: 1rem;
}
.Sidenav-icon a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.Sidenav-icon a p {
  margin: 0;
}

.topbar {
  background-color: #2C2C2C;
  position: relative;
  width: 100%;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.dropdown p {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.Sidenav-box {
  display: flex;
  overflow: auto;
  height: 82%;
}

.Sidenav-box ul {
  padding: 1rem;
  width: 100%;
}

.Sidenav-box ul li {
  display: flex;
}

.Sidenav-box ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  text-decoration: none;
  color: black;
  background-color: white;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 8px;
  border: none;
}

.Sidenav-logout {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
}

.Sidenav-logout a {
  text-decoration: none;
  color: black;
  background-color: #DC0E0E;
  padding: 10px 30px;
  border-radius: 8px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.card.card-body {
  background-color: #fbd5d5;
  margin-bottom: 10px;
}

.Sidenav-box ul li a:hover,
.btn:hover {
  background-color: #DC0E0E !important;
  color: white;
}
