.App {
  display: flex;
  height: 100vh;
  width: 100%;
  position: relative;
}

.content {
  height: 100%;
  width: 85%;
  overflow: hidden;
}

button{
  background-color: #DC0E0E !important;
  border: none !important;
  border-radius: 8px !important;
  color: white ;
}


